@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #252525;
  --card: #ffffff;
  --card-foreground: #252525;
  --popover: #ffffff;
  --popover-foreground: #252525;
  --primary: #363636;
  --primary-foreground: #fcfcfc;
  --secondary: #f8f8f8;
  --secondary-foreground: #363636;
  --muted: #f8f8f8;
  --muted-foreground: ##525252;
  --accent: #f8f8f8;
  --accent-foreground: #363636;
  --destructive: #c85856;
  --border: #ececec;
  --input: #ececec;
  --ring: #b4b4b4;
  --chart-1: #d87d3f;
  --chart-2: #5a9adb;
  --chart-3: #6b6a7e;
  --chart-4: #d4c453;
  --chart-5: #c89f5a;
  --sidebar: #fcfcfc;
  --sidebar-foreground: #252525;
  --sidebar-primary: #363636;
  --sidebar-primary-foreground: #fcfcfc;
  --sidebar-accent: #f8f8f8;
  --sidebar-accent-foreground: #363636;
  --sidebar-border: #ececec;
  --sidebar-ring: #b4b4b4;
}

.dark {
  --background: #252525;
  --foreground: #fcfcfc;
  --card: #363636;
  --card-foreground: #fcfcfc;
  --popover: #363636;
  --popover-foreground: #fcfcfc;
  --primary: #ececec;
  --primary-foreground: #363636;
  --secondary: #453d52;
  --secondary-foreground: #fcfcfc;
  --muted: #453d52;
  --muted-foreground: #b4b4b4;
  --accent: #453d52;
  --accent-foreground: #fcfcfc;
  --destructive: #b08a8a;
  --border: rgba(255, 255, 255, 0.1);
  --input: rgba(255, 255, 255, 0.15);
  --ring: #8f8f8f;
  --chart-1: #9a7fb3;
  --chart-2: #7fb8d8;
  --chart-3: #c89f5a;
  --chart-4: #a890d1;
  --chart-5: #d17759;
  --sidebar: #363636;
  --sidebar-foreground: #fcfcfc;
  --sidebar-primary: #9a7fb3;
  --sidebar-primary-foreground: #fcfcfc;
  --sidebar-accent: #453d52;
  --sidebar-accent-foreground: #fcfcfc;
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --sidebar-ring: #8f8f8f;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
