.dark-high-contrast {
  --md-color-primary: #ffece4;
  --md-color-surface-tint: #ffb690;
  --md-color-on-primary: #000000;
  --md-color-primary-container: #ffb087;
  --md-color-on-primary-container: #1a0600;
  --md-color-secondary: #ffeed2;
  --md-color-on-secondary: #000000;
  --md-color-secondary-container: #fbbf24;
  --md-color-on-secondary-container: #1c1200;
  --md-color-tertiary: #f9ebff;
  --md-color-on-tertiary: #000000;
  --md-color-tertiary-container: #dab3ff;
  --md-color-on-tertiary-container: #15002c;
  --md-color-error: #ffecea;
  --md-color-on-error: #000000;
  --md-color-error-container: #ffaea8;
  --md-color-on-error-container: #220001;
  --md-color-background: #1c110b;
  --md-color-on-background: #f6ded3;
  --md-color-surface: #141313;
  --md-color-on-surface: #ffffff;
  --md-color-surface-variant: #4b463f;
  --md-color-on-surface-variant: #ffffff;
  --md-color-outline: #f8efe5;
  --md-color-outline-variant: #c9c1b8;
  --md-color-shadow: #000000;
  --md-color-scrim: #000000;
  --md-color-inverse-surface: #e6e2e0;
  --md-color-inverse-on-surface: #000000;
  --md-color-inverse-primary: #7a3300;
  --md-color-primary-fixed: #ffdbca;
  --md-color-on-primary-fixed: #000000;
  --md-color-primary-fixed-dim: #ffb690;
  --md-color-on-primary-fixed-variant: #230900;
  --md-color-secondary-fixed: #ffdf9f;
  --md-color-on-secondary-fixed: #000000;
  --md-color-secondary-fixed-dim: #f9bd22;
  --md-color-on-secondary-fixed-variant: #190f00;
  --md-color-tertiary-fixed: #f0dbff;
  --md-color-on-tertiary-fixed: #000000;
  --md-color-tertiary-fixed-dim: #ddb8ff;
  --md-color-on-tertiary-fixed-variant: #1d0039;
  --md-color-surface-dim: #141313;
  --md-color-surface-bright: #51504f;
  --md-color-surface-container-lowest: #000000;
  --md-color-surface-container-low: #201f1f;
  --md-color-surface-container: #313030;
  --md-color-surface-container-high: #3c3b3b;
  --md-color-surface-container-highest: #484646;
}
