[data-theme='dark'],
.dark {
  --md-color-primary: #ffb690;
  --md-color-surface-tint: #ffb690;
  --md-color-on-primary: #552100;
  --md-color-primary-container: #f97316;
  --md-color-on-primary-container: #582200;
  --md-color-secondary: #ffe1a7;
  --md-color-on-secondary: #402d00;
  --md-color-secondary-container: #fbbf24;
  --md-color-on-secondary-container: #6c4f00;
  --md-color-tertiary: #ddb8ff;
  --md-color-on-tertiary: #490081;
  --md-color-tertiary-container: #c084fc;
  --md-color-on-tertiary-container: #500989;
  --md-color-error: #ffb3ad;
  --md-color-on-error: #68000a;
  --md-color-error-container: #ff5451;
  --md-color-on-error-container: #410004;
  --md-color-background: #1c110b;
  --md-color-on-background: #f6ded3;
  --md-color-surface: #141313;
  --md-color-on-surface: #e6e2e0;
  --md-color-surface-variant: #4b463f;
  --md-color-on-surface-variant: #cdc5bc;
  --md-color-outline: #969087;
  --md-color-outline-variant: #4b463f;
  --md-color-shadow: #000000;
  --md-color-scrim: #000000;
  --md-color-inverse-surface: #e6e2e0;
  --md-color-inverse-on-surface: #313030;
  --md-color-inverse-primary: #9d4300;
  --md-color-primary-fixed: #ffdbca;
  --md-color-on-primary-fixed: #341100;
  --md-color-primary-fixed-dim: #ffb690;
  --md-color-on-primary-fixed-variant: #783200;
  --md-color-secondary-fixed: #ffdf9f;
  --md-color-on-secondary-fixed: #261a00;
  --md-color-secondary-fixed-dim: #f9bd22;
  --md-color-on-secondary-fixed-variant: #5c4300;
  --md-color-tertiary-fixed: #f0dbff;
  --md-color-on-tertiary-fixed: #2c0051;
  --md-color-tertiary-fixed-dim: #ddb8ff;
  --md-color-on-tertiary-fixed-variant: #62259b;
  --md-color-surface-dim: #141313;
  --md-color-surface-bright: #3a3938;
  --md-color-surface-container-lowest: #0f0e0e;
  --md-color-surface-container-low: #1c1b1b;
  --md-color-surface-container: #201f1f;
  --md-color-surface-container-high: #2b2a29;
  --md-color-surface-container-highest: #363434;

  --md-color-friendship: #fcd34d;
  --md-color-on-friendship: #451a03;
  --md-color-friendship-container: #b45309;
  --md-color-on-friendship-container: #fef3c7;

  --md-color-affection: #f9a8d4;
  --md-color-on-affection: #581c87;
  --md-color-affection-container: #be185d;
  --md-color-on-affection-container: #fce7f3;

  --md-color-siblings: #5eead4;
  --md-color-on-siblings: #064e3b;
  --md-color-siblings-container: #0f766e;
  --md-color-on-siblings-container: #ccfbf1;

  --md-color-love: var(--md-color-primary);
  --md-color-on-love: var(--md-color-on-primary);
  --md-color-love-container: var(--md-color-primary-container);
  --md-color-on-love-container: var(--md-color-on-primary-container);

  --md-color-marriage: var(--md-color-tertiary);
  --md-color-on-marriage: var(--md-color-on-tertiary);
  --md-color-marriage-container: var(--md-color-tertiary-container);
  --md-color-on-marriage-container: var(--md-color-on-tertiary-container);

  --md-color-enemy: var(--md-color-error);
  --md-color-on-enemy: var(--md-color-on-error);
  --md-color-enemy-container: var(--md-color-error-container);
  --md-color-on-enemy-container: var(--md-color-on-error-container);

  --md-color-customBg-1: color-mix(in srgb, var(--md-color-error-container) 15%, var(--md-color-surface-container-low));
  --md-color-customBg-2: color-mix(
    in srgb,
    var(--md-color-primary-container) 25%,
    var(--md-color-surface-container-low)
  );
}
