.dark-medium-contrast {
  --md-color-primary: #ffd3be;
  --md-color-surface-tint: #ffb690;
  --md-color-on-primary: #441900;
  --md-color-primary-container: #f97316;
  --md-color-on-primary-container: #180500;
  --md-color-secondary: #ffe1a7;
  --md-color-on-secondary: #392900;
  --md-color-secondary-container: #fbbf24;
  --md-color-on-secondary-container: #483400;
  --md-color-tertiary: #ecd3ff;
  --md-color-on-tertiary: #3a0068;
  --md-color-tertiary-container: #c084fc;
  --md-color-on-tertiary-container: #20003d;
  --md-color-error: #ffd2ce;
  --md-color-on-error: #540007;
  --md-color-error-container: #ff5451;
  --md-color-on-error-container: #000000;
  --md-color-background: #1c110b;
  --md-color-on-background: #f6ded3;
  --md-color-surface: #141313;
  --md-color-on-surface: #ffffff;
  --md-color-surface-variant: #4b463f;
  --md-color-on-surface-variant: #e4dbd1;
  --md-color-outline: #b8b1a8;
  --md-color-outline-variant: #968f87;
  --md-color-shadow: #000000;
  --md-color-scrim: #000000;
  --md-color-inverse-surface: #e6e2e0;
  --md-color-inverse-on-surface: #2b2a29;
  --md-color-inverse-primary: #7a3300;
  --md-color-primary-fixed: #ffdbca;
  --md-color-on-primary-fixed: #230900;
  --md-color-primary-fixed-dim: #ffb690;
  --md-color-on-primary-fixed-variant: #5e2500;
  --md-color-secondary-fixed: #ffdf9f;
  --md-color-on-secondary-fixed: #191000;
  --md-color-secondary-fixed-dim: #f9bd22;
  --md-color-on-secondary-fixed-variant: #473300;
  --md-color-tertiary-fixed: #f0dbff;
  --md-color-on-tertiary-fixed: #1d0039;
  --md-color-tertiary-fixed-dim: #ddb8ff;
  --md-color-on-tertiary-fixed-variant: #500989;
  --md-color-surface-dim: #141313;
  --md-color-surface-bright: #454444;
  --md-color-surface-container-lowest: #080707;
  --md-color-surface-container-low: #1e1d1d;
  --md-color-surface-container: #292827;
  --md-color-surface-container-high: #333232;
  --md-color-surface-container-highest: #3f3d3d;
}
