.light-high-contrast {
  --md-color-primary: #4e1e00;
  --md-color-surface-tint: #9d4300;
  --md-color-on-primary: #ffffff;
  --md-color-primary-container: #7c3300;
  --md-color-on-primary-container: #ffffff;
  --md-color-secondary: #3a2900;
  --md-color-on-secondary: #ffffff;
  --md-color-secondary-container: #5f4500;
  --md-color-on-secondary-container: #ffffff;
  --md-color-tertiary: #430077;
  --md-color-on-tertiary: #ffffff;
  --md-color-tertiary-container: #64289d;
  --md-color-on-tertiary-container: #ffffff;
  --md-color-error: #600009;
  --md-color-on-error: #ffffff;
  --md-color-error-container: #970014;
  --md-color-on-error-container: #ffffff;
  --md-color-background: #fff8f6;
  --md-color-on-background: #251913;
  --md-color-surface: #fdf8f7;
  --md-color-on-surface: #000000;
  --md-color-surface-variant: #eae1d7;
  --md-color-on-surface-variant: #000000;
  --md-color-outline: #302c25;
  --md-color-outline-variant: #4d4841;
  --md-color-shadow: #000000;
  --md-color-scrim: #000000;
  --md-color-inverse-surface: #313030;
  --md-color-inverse-on-surface: #ffffff;
  --md-color-inverse-primary: #ffb690;
  --md-color-primary-fixed: #7c3300;
  --md-color-on-primary-fixed: #ffffff;
  --md-color-primary-fixed-dim: #582300;
  --md-color-on-primary-fixed-variant: #ffffff;
  --md-color-secondary-fixed: #5f4500;
  --md-color-on-secondary-fixed: #ffffff;
  --md-color-secondary-fixed-dim: #433000;
  --md-color-on-secondary-fixed-variant: #ffffff;
  --md-color-tertiary-fixed: #64289d;
  --md-color-on-tertiary-fixed: #ffffff;
  --md-color-tertiary-fixed-dim: #4c0185;
  --md-color-on-tertiary-fixed-variant: #ffffff;
  --md-color-surface-dim: #bbb8b7;
  --md-color-surface-bright: #fdf8f7;
  --md-color-surface-container-lowest: #ffffff;
  --md-color-surface-container-low: #f4f0ef;
  --md-color-surface-container: #e6e2e0;
  --md-color-surface-container-high: #d7d4d2;
  --md-color-surface-container-highest: #c9c6c5;
}
