:root,
.light {
  --md-color-primary: #9d4300;
  --md-color-surface-tint: #9d4300;
  --md-color-on-primary: #ffffff;
  --md-color-primary-container: #f97316;
  --md-color-on-primary-container: #582200;
  --md-color-secondary: #795900;
  --md-color-on-secondary: #ffffff;
  --md-color-secondary-container: #fbbf24;
  --md-color-on-secondary-container: #6c4f00;
  --md-color-tertiary: #7b41b4;
  --md-color-on-tertiary: #ffffff;
  --md-color-tertiary-container: #c084fc;
  --md-color-on-tertiary-container: #500989;
  --md-color-error: #b61722;
  --md-color-on-error: #ffffff;
  --md-color-error-container: #da3437;
  --md-color-on-error-container: #fffbff;
  --md-color-background: #fff8f6;
  --md-color-on-background: #251913;
  --md-color-surface: #fdf8f7;
  --md-color-on-surface: #1c1b1b;
  --md-color-surface-variant: #eae1d7;
  --md-color-on-surface-variant: #4b463f;
  --md-color-outline: #7c766e;
  --md-color-outline-variant: #cdc5bc;
  --md-color-shadow: #000000;
  --md-color-scrim: #000000;
  --md-color-inverse-surface: #313030;
  --md-color-inverse-on-surface: #f4f0ef;
  --md-color-inverse-primary: #ffb690;
  --md-color-primary-fixed: #ffdbca;
  --md-color-on-primary-fixed: #341100;
  --md-color-primary-fixed-dim: #ffb690;
  --md-color-on-primary-fixed-variant: #783200;
  --md-color-secondary-fixed: #ffdf9f;
  --md-color-on-secondary-fixed: #261a00;
  --md-color-secondary-fixed-dim: #f9bd22;
  --md-color-on-secondary-fixed-variant: #5c4300;
  --md-color-tertiary-fixed: #f0dbff;
  --md-color-on-tertiary-fixed: #2c0051;
  --md-color-tertiary-fixed-dim: #ddb8ff;
  --md-color-on-tertiary-fixed-variant: #62259b;
  --md-color-surface-dim: #ddd9d8;
  --md-color-surface-bright: #fdf8f7;
  --md-color-surface-container-lowest: #ffffff;
  --md-color-surface-container-low: #f7f3f1;
  --md-color-surface-container: #f1edec;
  --md-color-surface-container-high: #ebe7e6;
  --md-color-surface-container-highest: #e6e2e0;
}
