.light-medium-contrast {
  --md-sys-color-primary: rgb(94 37 0);
  --md-sys-color-surface-tint: rgb(157 67 0);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(181 78 0);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(71 51 0);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(139 103 0);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(80 9 137);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(139 80 197);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(115 0 13);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 48);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 248 246);
  --md-sys-color-on-background: rgb(37 25 19);
  --md-sys-color-surface: rgb(253 248 247);
  --md-sys-color-on-surface: rgb(18 17 17);
  --md-sys-color-surface-variant: rgb(234 225 215);
  --md-sys-color-on-surface-variant: rgb(58 54 47);
  --md-sys-color-outline: rgb(87 82 74);
  --md-sys-color-outline-variant: rgb(114 108 100);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(49 48 48);
  --md-sys-color-inverse-on-surface: rgb(244 240 239);
  --md-sys-color-inverse-primary: rgb(255 182 144);
  --md-sys-color-primary-fixed: rgb(181 78 0);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(142 60 0);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(139 103 0);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(109 80 0);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(139 80 197);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(113 54 170);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(201 198 197);
  --md-sys-color-surface-bright: rgb(253 248 247);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(247 243 241);
  --md-sys-color-surface-container: rgb(235 231 230);
  --md-sys-color-surface-container-high: rgb(224 220 219);
  --md-sys-color-surface-container-highest: rgb(212 209 208);
}
