.light-medium-contrast {
  --md-color-primary: #5e2500;
  --md-color-surface-tint: #9d4300;
  --md-color-on-primary: #ffffff;
  --md-color-primary-container: #b54e00;
  --md-color-on-primary-container: #ffffff;
  --md-color-secondary: #473300;
  --md-color-on-secondary: #ffffff;
  --md-color-secondary-container: #8b6700;
  --md-color-on-secondary-container: #ffffff;
  --md-color-tertiary: #500989;
  --md-color-on-tertiary: #ffffff;
  --md-color-tertiary-container: #8b50c5;
  --md-color-on-tertiary-container: #ffffff;
  --md-color-error: #73000d;
  --md-color-on-error: #ffffff;
  --md-color-error-container: #cf2c30;
  --md-color-on-error-container: #ffffff;
  --md-color-background: #fff8f6;
  --md-color-on-background: #251913;
  --md-color-surface: #fdf8f7;
  --md-color-on-surface: #121111;
  --md-color-surface-variant: #eae1d7;
  --md-color-on-surface-variant: #3a362f;
  --md-color-outline: #57524a;
  --md-color-outline-variant: #726c64;
  --md-color-shadow: #000000;
  --md-color-scrim: #000000;
  --md-color-inverse-surface: #313030;
  --md-color-inverse-on-surface: #f4f0ef;
  --md-color-inverse-primary: #ffb690;
  --md-color-primary-fixed: #b54e00;
  --md-color-on-primary-fixed: #ffffff;
  --md-color-primary-fixed-dim: #8e3c00;
  --md-color-on-primary-fixed-variant: #ffffff;
  --md-color-secondary-fixed: #8b6700;
  --md-color-on-secondary-fixed: #ffffff;
  --md-color-secondary-fixed-dim: #6d5000;
  --md-color-on-secondary-fixed-variant: #ffffff;
  --md-color-tertiary-fixed: #8b50c5;
  --md-color-on-tertiary-fixed: #ffffff;
  --md-color-tertiary-fixed-dim: #7136aa;
  --md-color-on-tertiary-fixed-variant: #ffffff;
  --md-color-surface-dim: #c9c6c5;
  --md-color-surface-bright: #fdf8f7;
  --md-color-surface-container-lowest: #ffffff;
  --md-color-surface-container-low: #f7f3f1;
  --md-color-surface-container: #ebe7e6;
  --md-color-surface-container-high: #e0dcdb;
  --md-color-surface-container-highest: #d4d1d0;
}
